/* jost-regular - latin-ext_latin */
@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/jost-v14-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/jost-v14-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/jost-v14-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/jost-v14-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/jost-v14-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/jost-v14-latin-ext_latin-regular.svg#Jost') format('svg'); /* Legacy iOS */
  }
  
  /* jost-300 - latin-ext_latin */
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/jost-v14-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/jost-v14-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/jost-v14-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/jost-v14-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/jost-v14-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/jost-v14-latin-ext_latin-300.svg#Jost') format('svg'); /* Legacy iOS */
  }
  
  /* jost-700 - latin-ext_latin */
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/jost-v14-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/jost-v14-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/jost-v14-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/jost-v14-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/jost-v14-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/jost-v14-latin-ext_latin-700.svg#Jost') format('svg'); /* Legacy iOS */
  }
  
  /* jost-300italic - latin-ext_latin */
  @font-face {
    font-family: 'Jost';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/jost-v14-latin-ext_latin-300italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/jost-v14-latin-ext_latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/jost-v14-latin-ext_latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/jost-v14-latin-ext_latin-300italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/jost-v14-latin-ext_latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/jost-v14-latin-ext_latin-300italic.svg#Jost') format('svg'); /* Legacy iOS */
  }
  
  /* jost-italic - latin-ext_latin */
  @font-face {
    font-family: 'Jost';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/jost-v14-latin-ext_latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/jost-v14-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/jost-v14-latin-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/jost-v14-latin-ext_latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/jost-v14-latin-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/jost-v14-latin-ext_latin-italic.svg#Jost') format('svg'); /* Legacy iOS */
  }
  
  /* jost-700italic - latin-ext_latin */
  @font-face {
    font-family: 'Jost';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/jost-v14-latin-ext_latin-700italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/jost-v14-latin-ext_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/jost-v14-latin-ext_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/jost-v14-latin-ext_latin-700italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/jost-v14-latin-ext_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/jost-v14-latin-ext_latin-700italic.svg#Jost') format('svg'); /* Legacy iOS */
  }

/* roboto-regular - latin-ext_latin */
@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/roboto-v30-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/roboto-v30-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/roboto-v30-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/roboto-v30-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
          url('../fonts/roboto-v30-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/roboto-v30-latin-ext_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
   }
   
   /* roboto-italic - latin-ext_latin */
   @font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 400;
     src: url('../fonts/roboto-v30-latin-ext_latin-italic.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/roboto-v30-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/roboto-v30-latin-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/roboto-v30-latin-ext_latin-italic.woff') format('woff'), /* Modern Browsers */
          url('../fonts/roboto-v30-latin-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/roboto-v30-latin-ext_latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
   }
   
   /* roboto-700 - latin-ext_latin */
   @font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/roboto-v30-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/roboto-v30-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/roboto-v30-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/roboto-v30-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
          url('../fonts/roboto-v30-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/roboto-v30-latin-ext_latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
   }
   
   /* roboto-700italic - latin-ext_latin */
   @font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 700;
     src: url('../fonts/roboto-v30-latin-ext_latin-700italic.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/roboto-v30-latin-ext_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/roboto-v30-latin-ext_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/roboto-v30-latin-ext_latin-700italic.woff') format('woff'), /* Modern Browsers */
          url('../fonts/roboto-v30-latin-ext_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/roboto-v30-latin-ext_latin-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
   }

/* roboto-slab-regular - latin-ext_latin */
@font-face {
     font-family: 'Roboto Slab';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/roboto-slab-v24-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/roboto-slab-v24-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/roboto-slab-v24-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/roboto-slab-v24-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
          url('../fonts/roboto-slab-v24-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/roboto-slab-v24-latin-ext_latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
   }
   
   /* roboto-slab-700 - latin-ext_latin */
   @font-face {
     font-family: 'Roboto Slab';
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/roboto-slab-v24-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/roboto-slab-v24-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/roboto-slab-v24-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/roboto-slab-v24-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
          url('../fonts/roboto-slab-v24-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/roboto-slab-v24-latin-ext_latin-700.svg#RobotoSlab') format('svg'); /* Legacy iOS */
   }
   