// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  color: $highlight;
  &:hover {
    color: darken($highlight, 10%);
  }
}

.text-primary {
  color: $highlight !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  position: relative;
  z-index: 1;
  @include heading-font;
}
h1,h2::before  {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, $primary, $secondary);
  top: calc(100% - 0.38em);
  width: calc(100% + 0.4em);
  left: -0.2em;
  height: 0.14em;
  z-index: -1;
}

.page-section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    @include serif-font;
  }
}
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: $highlight;
  text-shadow: none;
}

::selection {
  background: $highlight;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
